[submodule "hardware/kicad_libraries/kleicad-lib"]
	path = hardware/kicad_libraries/kleicad-lib
	url = git@github.com:jkleiber/kleicad-lib.git
[submodule "QuadrotorSim/Plugins/Tempo"]
	path = QuadrotorSim/Plugins/Tempo
	url = https://github.com/tempo-sim/Tempo.git
[submodule "software/kleiber_dynamics"]
	path = software/kleiber_dynamics
	url = git@github.com:jkleiber/kleiber_dynamics.git
[submodule "software/kleiber_control"]
	path = software/kleiber_control
	url = git@github.com:jkleiber/kleiber_control.git
